.page-main__slider {
  padding-top: 27px;
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.page-main__preslider-info {

  @media (width: @only-mobile-width) {
    min-width: 320px;
    height: 705px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 27px;
  }

  @media (min-width: @tablet-width) {
    min-width: 768px;
    max-width: 1439px;
    background-color: none;
  }

  @media (min-width: @desktop-width) {
    min-width: 1440px;
    max-width: max-content;
  }
}

.preslider-info__header {

  width: 195px;
  height: 40px;
  margin: 0px;
  padding: 0px;
  font-family: "oswaldregular";
  font-size: 36px;
  margin-left: 20px;
  margin-bottom: 33px;

  @media (min-width: @tablet-width) {
    width: 325px;
    height: 60px;
    font-size: 60px;
  }

  @media (min-width: @desktop-width) {
    width: 325px;
    height: 60px;
    font-size: 60px;
  }
}

.preslider-info__description {
  width: 280px;
  height: 108px;
  margin: 0px;
  padding: 0px;
  font-family: Arial;
  font-size: 14px;
  line-height: 18px;
  text-align: left;
  margin-left: 20px;
  margin-bottom: 26px;

  @media (min-width: @tablet-width) {

  }

  @media (min-width: @desktop-width) {

  }
}

.efficiency-in-numbers {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 320px;
  margin-bottom: 25px;
}

.numbers-eff {
  width: 122px;
  height: 62px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  //
  font-family: Oswaldregular;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
  //
  border: 2px solid #cdcdcd;
  border-radius: 5px;
  z-index: 9;
  &_main-span {
    position: relative;
    top: 10px;
  }
  &_span {
    text-align: center;
    width: 77px;
    font-family: Arial;
    font-size: 12px;
    font-weight: 400;
    line-height: 12px;
    text-align: center;
    text-transform: lowercase;
    position:relative;
    top: 20px;
    z-index: 10;
    background-color: #f2f2f2;
  }
}


.numbers-price {
  font-family: oswaldregular;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 42px;
}

.weight-slider__display {
  width: 311px;
  height: 232px;
  background: url(../../img/cat-fat.png);
  background-size: cover;
  margin-bottom: 23px;
}

.weight-slider__control {
  display: flex;
  justify-content: center;
}
